Resource_1 VCLSTYLE "..\\..\\Win32\\Debug\\Amakrits.vsf"
Resource_2 VCLSTYLE "..\\..\\Win32\\Debug\\AmethystKamri.vsf"
Resource_3 VCLSTYLE "..\\..\\Win32\\Debug\\AquaGraphite.vsf"
Resource_4 VCLSTYLE "..\\..\\Win32\\Debug\\AquaLightSlate.vsf"
Resource_5 VCLSTYLE "..\\..\\Win32\\Debug\\Auric.vsf"
Resource_6 VCLSTYLE "..\\..\\Win32\\Debug\\Carbon.vsf"
Resource_7 VCLSTYLE "..\\..\\Win32\\Debug\\CharcoalDarkSlate.vsf"
Resource_8 VCLSTYLE "..\\..\\Win32\\Debug\\CobaltXEMedia.vsf"
Resource_9 VCLSTYLE "..\\..\\Win32\\Debug\\CyanDusk.vsf"
Resource_10 VCLSTYLE "..\\..\\Win32\\Debug\\CyanNight.vsf"
Resource_11 VCLSTYLE "..\\..\\Win32\\Debug\\EmeraldLightSlate.vsf"
Resource_12 VCLSTYLE "..\\..\\Win32\\Debug\\GoldenGraphite.vsf"
Resource_13 VCLSTYLE "..\\..\\Win32\\Debug\\IcebergClassico.vsf"
Resource_14 VCLSTYLE "..\\..\\Win32\\Debug\\LavenderClassico.vsf"
Resource_15 VCLSTYLE "..\\..\\Win32\\Debug\\Light.vsf"
Resource_16 VCLSTYLE "..\\..\\Win32\\Debug\\Luna.vsf"
Resource_17 VCLSTYLE "..\\..\\Win32\\Debug\\MetropolisUIBlack.vsf"
Resource_18 VCLSTYLE "..\\..\\Win32\\Debug\\MetropolisUIBlue.vsf"
Resource_19 VCLSTYLE "..\\..\\Win32\\Debug\\MetropolisUIDark.vsf"
Resource_20 VCLSTYLE "..\\..\\Win32\\Debug\\MetropolisUIGreen.vsf"
Resource_21 VCLSTYLE "..\\..\\Win32\\Debug\\Obsidian.vsf"
Resource_22 VCLSTYLE "..\\..\\Win32\\Debug\\RubyGraphite.vsf"
Resource_23 VCLSTYLE "..\\..\\Win32\\Debug\\SapphireKamri.vsf"
Resource_24 VCLSTYLE "..\\..\\Win32\\Debug\\Silver.vsf"
Resource_25 VCLSTYLE "..\\..\\Win32\\Debug\\SlateClassico.vsf"
Resource_26 VCLSTYLE "..\\..\\Win32\\Debug\\SmokeyQuartzKamri.vsf"
Resource_27 VCLSTYLE "..\\..\\Win32\\Debug\\TurquoiseGray.vsf"
