PngImage_1 RCDATA "Imagens\\Amakrits.png"
PngImage_2 RCDATA "Imagens\\AmethystKamri.png"
PngImage_3 RCDATA "Imagens\\AquaGraphite.png"
PngImage_4 RCDATA "Imagens\\AquaLightSlate.png"
PngImage_5 RCDATA "Imagens\\Auric.png"
PngImage_6 RCDATA "Imagens\\Carbon.png"
PngImage_7 RCDATA "Imagens\\CharcoalDarkSlate.png"
PngImage_8 RCDATA "Imagens\\CobaltXEMedia.png"
PngImage_9 RCDATA "Imagens\\CyanDusk.png"
PngImage_10 RCDATA "Imagens\\CyanNight.png"
PngImage_11 RCDATA "Imagens\\EmeraldLightSlate.png"
PngImage_12 RCDATA "Imagens\\GoldenGraphite.png"
PngImage_13 RCDATA "Imagens\\IcebergClassico.png"
PngImage_14 RCDATA "Imagens\\LavenderClassico.png"
PngImage_15 RCDATA "Imagens\\Light.png"
PngImage_16 RCDATA "Imagens\\Luna.png"
PngImage_17 RCDATA "Imagens\\MetropolisUIBlack.png"
PngImage_18 RCDATA "Imagens\\MetropolisUIBlue.png"
PngImage_19 RCDATA "Imagens\\MetropolisUIDark.png"
PngImage_20 RCDATA "Imagens\\MetropolisUIGreen.png"
PngImage_21 RCDATA "Imagens\\Obsidian.png"
PngImage_22 RCDATA "Imagens\\RubyGraphite.png"
PngImage_23 RCDATA "Imagens\\SapphireKamri.png"
PngImage_24 RCDATA "Imagens\\Silver.png"
PngImage_25 RCDATA "Imagens\\SlateClassico.png"
PngImage_26 RCDATA "Imagens\\SmokeyQuartzKamri.png"
PngImage_27 RCDATA "Imagens\\TurquoiseGray.png"
